*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  /* background-color: #f4f4f4; */
}

:root{
  --brand-color: #00F3BB;
}

a {
  color: #000;
}

/* header */

.header {
  width: 100%;
  z-index: 3;
}

.container{
  width: 90%;
  max-width: 1920px;
  margin: auto;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header .menu li{
font-family: 'IBM Plex Mono', monospace;
font-size: 16px;
color: #060A24;
letter-spacing: 0;
line-height: 28px;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}


/* Menu btn */
.header .menu-btn {
  display: none;
}

.header li {
  float: left;
}

.header li a {
padding: 18px 30px;
}

.header .menu {
clear: none;
float: right;
max-height: none;
}

.header .menu-icon {
display: none;
}


.logo-img {
    padding: 23px;
    padding-left: ;
}

.titulo-box{
    margin-top: 50px;
}

.titulo-box span{
  text-decoration: line-through;
}

.titulo-box p{
font-family: IBMPlexMono;
font-size: 16px;
color: #060A24;
letter-spacing: 0;
line-height: 24px;
}

.btn{
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  border: 1px solid var(--brand-color);
  color:var(--brand-white);
  transition: background-color:0.4s, border 0.4s,color 0.4s;
  }
  
.btn-completo{
  background-color: var(--brand-color);
  font-family: IBMPlexMono-Medium;
  font-size: 18px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  margin-top: 50px;
}

.btn:hover{
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

.header li:first-child a:hover{
  text-decoration: line-through;
  color: #00F0B8;
}

/* Clip path */
.episodes-color{
  background:linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
  transform: skewY(-4deg);
}


.episodes-color-two{
  clip-path: polygon(0 78%, 0% 100%, 98% 78%);
  width: 100%;
  height: 500px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  margin-top: -390px;
  position: relative;
}

.episodes-color-three{
  clip-path: polygon(100% 64%, 0% 100%, 100% 100%);
  width: 100%;
  height: 300px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  margin-bottom: -1px;
}

/* Episodios */

.episodes{
  position: relative;
}


.container{
  margin: auto;
}

.f-container{
  overflow: hidden;
}

.f-container li iframe{
  width: 100%;
  height: 300px;
  border: 0;
}

.f-container li{
  display: inline-block;
  width: 45%;
} 

.f-container .episodes-one, .f-container .episodes-two {
  overflow: hidden;
}

.f-container .episodes-one li:last-child {
  float: right;
}

.f-container .episodes-two li:last-child {
  float: right;
}

.episodes-title h2{
  position: relative;
  display: inline-block;
  top: 80px;
  font-family: 'IBM Plex Mono', monospace;
  color: #FFFFFF;
  letter-spacing: 0;
  /* left: 150px; */
  margin-bottom: 50px;
}

.episodes-one{
  margin-top: 80px;
}
.episodes-two{
  margin-bottom: 100px;
}


/* Phone */
.phone{
  overflow: hidden;
}

.phone img{
  width: 100%;
}

.phone-part{
  margin-top: -110px;
}

.phone-part .container{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
}

.phone-part .phone, .phone-part .phone-text{
  width: 50%;
}

.phone-text p {
  width: 60%;
  text-align: justify;
  font-family: 'IBM Plex Mono', monospace;
} 


/* Photos scienses */

.vivienda-destacadas{
  overflow: hidden;
  margin-top: 130px;
}

.vivienda-destacadas h2{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 30px;
}

.fotos-casas{
  padding-top: 60px;
}

.fotos-casas ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

}

.fotos-casas ul li{
  width: 33.33333333333333333333333333333333%;
}

.fotos-casas ul li img{
  width: 100%;
}

.fotos-casas ul:first-child {
  margin-bottom: -5px;
}


/* Themes */

.caracteristicas h2{
  margin-top: 50px;
  margin-bottom: 90px;
}

.c-container{
  width: 80%;
  padding-top: 100px;
  margin: auto;
}

.themes{
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-bottom: -140px;
}

.themes li{
  text-align: center;
}

.themes h3{
  margin-top: 25px;
  margin-bottom: 60px;
}

/* SECTION NEWS */

.news-container{
  width: 80%;
  padding-top: 120px;
  padding-bottom: 100px;
  margin: auto;
}

.news{
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

.text-news{
  text-align: center;
}

.text-news button{
  cursor: pointer;
}

.text-news h2{
  margin-bottom: 40px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 38px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.text-news button{
  padding: 15px 45px 15px 45px;
  background-color: #00F3BB ;
  text-transform: uppercase;
  margin-bottom: 80px;
}

/* footer */

.container-footer{
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 90%;
  max-width: 1920px;
}

.icons-media i{
  padding-left: 10px;
}

.footer-hello{
  text-align: center;
}

@media (max-width: 768px) {

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
/* menu btn */  
  .header .menu-btn:checked ~ .menu {
    /* position: absolute;
    left: 0; */
    min-height: 260px;
    overflow: scroll;
    width: 100%;
    margin-bottom: 30px;
    background: #0000EC;
  }

  .header .menu-btn:checked ~ .menu li {
    width: 100%;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .phone-part .phone-text {
    font-size: 13px;
  }
}

@media (max-width: 480px) {

  header{
    margin-bottom: 50px;
  }

  .episodes-title h2 {
    margin-bottom: 50px;
    left: 0;
  }

  .episodes-one li{
    width: 100%;
  }

  .episodes-two li{
    width: 100%;
  }

  .themes{
    display: contents;
  }

  .phone-part .phone{
    width: 100%;
    margin-top: -75px;
  }

  .phone-text p{
    width: 100%;
  }

  .fotos-casas ul{
    display: contents;
  }

  .fotos-casas ul li{
    width: 100%;
    margin-bottom: -6px;
  }

  .phone-part{
    display: contents;
  }

  .phone-part .phone-text{
    width: 100%;
  }

  .themes li:last-child{
    margin-bottom: -230px;
  }

  .container-footer{
    display: inline-block;
  }

  .icons-media{
    text-align: center;
    margin-top: 10px;
  }

  .news{
    background-image: linear-gradient(225deg, #0000C3 0%, #0000A3 100%);
  }


}


@media (max-width: 320px) {

  .episodes-title h2{
    display: flex;
    justify-content: center;
    left: 0;
  }

  .phone-part .phone{
    margin-top: -115px;
  }

}